<div class="card" style="width: 18rem;" id="<%= dom_id team %>">
  <% if not team.avatar.attached? %>
    <%= image_tag 'blank-team-logo.png', alt: "Team #{team.name} logo", class: "card-img-top" %>
  <% else %>
    <%= image_tag team.avatar, alt: "Team #{team.name} logo", class: "card-img-top" %>
  <% end %>
  <div class="card-body">
    <h5 class="card-title"><%= team.name %></h5>
    <%= link_to "Show this team", team, class: "btn btn-primary" %>
  </div>
</div>
