<div class="container">
  <h3>
    Teams
    <% if current_user.admin_profile? %>

      <small class="text-muted"><%= link_to "New team", new_team_path, class: "btn btn-primary" %></small>
    <% end %>

  </h3>

  <div class="form-group mt-4">
    <%= form_with url: teams_path, method: :get do |form| %>
      <%= text_field_tag(:search, params[:search]) %>
      <%= form.submit "Search", class: "btn btn-primary" %>
    <% end %>
  </div>

  <div id="teams" class="d-flex flex-row flex-wrap bd-highlight mb-3 gap-3 mt-4">
    <% @teams.each do |team| %>
      <%= render team %>
    <% end %>
  </div>
</div>