<h1>Scoreboard</h1>
<table class="table table-stripes table-bordered table-hover" style="text-align: center;">
  <tr>
    <td rowspan="2" style="width: 25%;">
      <h3>User</h3>
    </td>
    <td rowspan="2" style="width: 10%;">
      <h3>Total Score</h3>
    </td>
    <td colspan="30">
      <h3>Rounds points</h3>
    </td>
  <tr>
    <% @rounds.each do |round| %>
      <td>
        <h4><%= round.number %></h4>
      </td>
    <% end %>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td>
        <% if user.first_name.present? or user.last_name.present? %>
          <%= "#{user.first_name} #{user.last_name}" %>
        <% else %>
          <%= user.email %>
        <% end %>
      </td>
      <td>
        <%= user.bets.sum(:points) %>
      </td>
      <% @rounds.each do |round| %>
        <td>
          <%= round.bets.where(user_id: user).sum(:points) %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>