<% @rounds.each do |round| %>
  <table class="table  table-stripes table-bordered table-hover">
    <tr>
      <td align="center" width="30%">
        <h5> Round <%= round.number %> </h5>
      </td>
      <td colspan="2" align="center" width="40%">
        <h6> <%= round.year %> </h6>
      </td>
      <td colspan="2" align="center" width="30%">
        <h7> Your bets</h7>
      </td>
    </tr>
    <% @matches.each do |match| %>
      <% if match.round_id == round.id %>
        <tr>
          <td align="center" width="30%">
            <%= match.match_date %>
          </td>
          <td align="center" width="20%">
            <%= match.home_team.name %>
          </td>
          <td align="center" width="20%">
            <%= match.away_team.name %>
          </td>
          <td align="center" width="15%">
            <% @bets.each do |bet| %>
              <% if bet.match_id == match.id %>
                <h8> <%= "#{bet.home_team_score}:#{bet.away_team_score}" %> </h8>
              <% end %>
            <% end %>
            <td align="center" width="15%">
              <%= link_to "Create bet", new_round_match_bet_path(round, match), class: "btn btn-success" %>
            </td>
          </td>
        </tr>
      <% end %>
    <% end %>
  </table>
<% end %>