<div class="container">
  <%= link_to "Back to rounds", rounds_path, class: "btn btn-secondary mb-3" %>
  <div class="card mb-3" style="width: 18rem;" id="<%= dom_id @round %>">
    <div class="card-body">
      <h5 class="card-title text-center"><%= "#{@round.number}/#{@round.year}" %></h5>
    </div>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Match Day</th>
        <th scope="col">Home Team</th>
        <th scope="col">Away Team</th>
        <th scope="col">Home Team Score</th>
        <th scope="col">Away Team Score</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @matches.each do |match| %>  
        <tr>
          <td><%= match.match_date.iso8601 %></td>
          <td><%= match.home_team.name %></td>
          <td><%= match.away_team.name %></td>
          <td><%= match.home_team_score %></td>
          <td><%= match.away_team_score %></td>
          <td>
            <%= link_to "Edit", edit_round_match_path(@round, match), class: "btn btn-warning"%>
            <%= link_to "Destroy", round_match_path(@round, match), class: "btn btn-danger", data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this match?" } %>
            <%= link_to "Bet!", new_round_match_bet_path(@round, match), class: "btn btn-primary"%>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="d-flex gap-3">
    <%= link_to "Add new match", new_round_match_path(@round), class: "btn btn-success"%>
    <%= link_to "Edit this round", edit_round_path(@round), class: "btn btn-primary"%>
    <%= link_to "Destroy this round", @round, class: "btn btn-danger", data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this round?" } %>
  </div>
</div>
