<h1>Edit Match</h1>
<div class="d-flex gap-3 mb-3" >
  <%= link_to "Back to round", @round, class: "btn btn-secondary" %>
</div>

<%= form_with(model: [@round, @match]) do |form| %>
  <%= render "form", match: @match, form: form %>

  <div class="row">
    <div class='col-md-6'>
      <%= form.label :home_team_score, class: "form-label" %>
      <%= form.number_field :home_team_score, class: "form-control" %>
    </div>
    <div class='col-md-6'>
      <%= form.label :away_team_score, class: "form-label" %>
      <%= form.number_field :away_team_score, class: "form-control" %>
    </div>
  </div>

  <div class="form-group mt-3">
    <%= form.submit class:'btn btn-success'%>
  </div>
<% end %>


