<div class="container">
  <%= render @post %>
  <%= render "posts/comments", post: @post %>
  <div class="text-center mt-2">
    <%= link_to "Back to posts", posts_path, class:"btn btn-secondary btn-sm" %>

    <% if current_user.admin_profile? %>

      <%= link_to "Edit this post", edit_post_path(@post), class:"btn btn-secondary btn-sm" %>
      <%= button_to "Delete", post_path(@post), form: { data: { turbo_confirm: "Are you sure?" } }, method: :delete, class: "btn btn-outline-danger btn-sm mt-2" %>
    <% end %>
  </div>
</div>